---
aws_region: "us-west-2"
oidc_issuer_url: "https://s3.{{ aws_region }}.amazonaws.com/{{ oidc_bucket_name }}"
rosa_demo_role_name: ROSADemosRole
rosa_demo_policy_name: ROSADemosPolicy
rollback: False
iam: True
dynamodb: True
rds: True
rosa_cluster_name: my-rosa-cluster